{% extends "base.html" %}
{% load static %}
{% block title_block %}View Category{% endblock%}
{% block body_block %}


<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Update Purches Stock</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="students.html">Update Purches Stock</a></li>
                   <li class="breadcrumb-item active">Update Purches Stock</li>
                </ul>
             </div>
            </div>
            {% include "include/msg.html" %}
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-body">
                   <form method="POST" enctype="multipart/form-data", action="{% url 'Pharmacey_App:update_stock' %}">
                     {% csrf_token %}
                      <div class="row">
                         <div class="col-12">
                            <h5 class="form-title"><span>Update Purches Stock</span></h5>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Medicine Name</label>
                               <input type="text" value="{{stock_medicine.medicine_name}}" name="medicine_name" class="form-control">
                               <input type="number" value="{{stock_medicine.id}}" name='stock_id' hidden>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Catagory Name</label>
                              <select class="form-control" name="catagory">
                                 <option value="{{stock_medicine.Category.id}}">{{stock_medicine.Category.catagory_name}}</option>
                                 {% for i in category %}
                                 <option value="{{i.id}}">{{i.catagory_name}}</option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Supplier Name</label>
                           <select class="form-control" name="supplier">
                              <option value="{{stock_medicine.Supplier.id}}">{{stock_medicine.Supplier.name}}</option>
                              {% for i in supplier %}
                              <option value="{{i.id}}">{{i.name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                        </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Purchas Price</label>
                               <input type="number" value="{{stock_medicine.price}}" name="price" class="form-control">
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Quantity</label>
                               <input type="number" value="{{stock_medicine.quatity}}"  name="quantity" class="form-control">
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Expire Date</label>
                               <div>
                                  <input type="date" value="{{stock_medicine.exire_date}}" name="expire_date" class="form-control">
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Medicine Image</label>
                               <input type="file" name="medicine_image" class="form-control">
                            </div>
                         </div>
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>


{%endblock%}