{% extends "base.html" %}
{% load static %}
{% block title_block %}View Category{% endblock%}
{% block body_block %}
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row">
             <div class="col">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                   <li class="breadcrumb-item active">Profile</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
        {% for i in profile %}
          <div class="col-md-12">
             <div class="profile-header">
                <div class="row align-items-center">
                   <div class="col-auto profile-image" >
                      <a href="#" height="150px" width="150px">
                        {% if i.profile_pic %}
                        <img class="rounded-circle mb-5" alt="User Image" src="/media/{{i.profile_pic}}" height="150px" width="150px">
                        {% else %}
                        <img class="rounded-circle mb-5" alt="User Image" src="{% static 'assets/images/user/demo_profile.jpg' %}" height="150px" width="150px">
                        {% endif %}
                      </a>
                   </div>
                   <div class="col ml-md-n2 profile-user-info">
                      <h4 class="user-name mb-0">{{i.user.first_name}} {{i.user.last_name}}</h4>
                      <h6 class="text-muted">Admin</h6>
                      <div class="user-Location"><i class="fas fa-map-marker-alt"></i>{{i.addess}}</div>
                   </div>
                   
                   <div class="col-auto profile-btn">
                      <a href="{% url 'Auth_app:edit_profile' %}" class="btn btn-primary">
                      Edit
                      </a>
                   </div>
                </div>
             </div>
             <div class="profile-menu">
                <ul class="nav nav-tabs nav-tabs-solid">
                   <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#per_details_tab">About</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#password_tab">Password</a>
                   </li>
                </ul>
             </div>
             <div class="tab-content profile-tab-cont">
                <div class="tab-pane fade show active" id="per_details_tab">
                   <div class="row">
                      <div class="col-lg-9">
                         <div class="card">
                            <div class="card-body">
                               <h5 class="card-title d-flex justify-content-between">
                                  <span>Personal Details</span>
                                  <a href="{% url 'Auth_app:edit_profile' %}"><i class="far fa-edit mr-1"></i>Edit</a>
                               </h5>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                  <p class="col-sm-9">{{i.user.first_name}} {{i.user.last_name}}</p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                  <p class="col-sm-9">{{i.dob}}</p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                  <p class="col-sm-9">{{i.user.email}}</a></p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                  <p class="col-sm-9">{{i.phone}}</p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0">Address</p>
                                  <p class="col-sm-9 mb-0">{{i.addess}}
                                  </p>
                               </div>
                            </div>
                         </div>
                      </div>
                      {% endfor %}                         
                   </div>
                </div>
                <div id="password_tab" class="tab-pane fade">
                   <div class="card">
                      <div class="card-body">
                         <h5 class="card-title">Change Password</h5>
                         <div class="row">
                            <div class="col-md-10 col-lg-6">
                               <form method="POST" action="{% url 'Auth_app:change_password' %}">
                                  {% csrf_token %}
                                 <div class="form-group">
                                     <label>New Password</label>
                                     <input type="password" name="password1" class="form-control">
                                  </div>
                                  <div class="form-group">
                                     <label>Confirm Password</label>
                                     <input type="password" name="password2" class="form-control">
                                  </div>
                                  <button class="btn btn-primary" type="submit">Save Changes</button>
                               </form>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>

{% endblock%}